body {
  text-align: center;
  background: rgba(255, 204, 133, 0.5);
  font-family: "Inter", sans-serif;
}

.links a {
  color: green;
  padding: 20px;
}

.photo {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  width: min(100%, 700px);
  height: auto;
}
